<div class="bg-img">
  <header class="bg-blue-300">
    <h1 class="text-center py-3 py-lg-4 text-white m-0 text-2xl md:text-3xl">
      〜Taipei City YouBike2.0 Station Search〜
    </h1>
  </header>
  <section class="bg-black-alpha-80">
    <div class="text-white py-5 container">
      <p class="text-yellow-500 mb-2 mt-0">版本紀錄：</p>
      <small class="flex mb-2">1、PrimeNG優化使用者介面</small>
      <small class="flex mb-2">2、新增地圖關鍵字搜尋</small>
      <small class="flex mb-2">3、Angular 16重構</small>
      <small class="flex mb-4">4、優化關鍵字搜尋</small>
      <small class="text-yellow-500">*資料擷取自政府開放資料平台</small>
    </div>
  </section>
  <img
    alt="Banner"
    class="header-img w-full border-bottom-3 border-yellow-500 border-round-bottom-3xl"
    src="https://www.taiwanexcellence.org/upload/product/old/old2022/112235IA-Y037_L.jpg"
  />

  <router-outlet></router-outlet>

  <footer
    class="bg-blue-300 mt-3 flex align-items-center justify-content-center"
  >
    <div class="text-xl text-white font-bold">Copyright © 2024 Royen</div>
  </footer>
</div>
